<!-- subjective_quiz.html -->

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주관식 퀴즈 페이지</title>
</head>
<body>
    <h1>주관식 퀴즈</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
    <hr>
    <h2>Quiz List</h2>
    <ul>
        {% for quiz in quizzes %}
            <li>{{ quiz.question }}</li>
        {% endfor %}
    </ul>
</body>
</html>
